
@import url("https://fonts.googleapis.com/css?family=Audiowide");



body {
    margin-top: 0%;
    padding-top: 0%;
    color: white;
    font-family: 'Audiowide', sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image:
    linear-gradient(90deg,
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)), 
          url(https://images.alphacoders.com/117/1178907.jpg);


}


.title {
    margin: 0%;
    color:white;
    text-align: center;
    font-size: 100px;
}

.players {
    margin-top: 0%;
    justify-content: space-around;
    gap: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.players .ronaldo, .players .messi{
    margin-top: 0%;
    border-radius: 40px;
    background: rgb(20, 20, 20);
    border: 10px solid rgb(15, 15, 15);
    width: 495px;
}


.players .vs .vs {
   font-size: 200px;
}

.stats {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.stats > div {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    font-size: 4.2em;
    height: 2em;
}

#avrgRating {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


@media screen and (max-width: 1920px) and (max-height: 1080px) {
   html {
      transform: scale(.9);   
   }

   body {
        margin-top: 0%;
   }
}
